:root {
  --primary-brand :  #4D5AE5 ;
  --pressed-state : #404BBF;
  --text-color : #434455 ;
  --secondary-color : #2E2F42 ;
  --third-color : #FFFFFF ;
  --accent-color : #E7E9FC ;
  --background-color: #F4F4FD ;
  --primary-font-family: 'Roboto', sans-serif;

}
body {
    font-family: var(--primary-font-family) ;
    color: var(--text-color) ;
    font-size: 16px;
    line-height: calc(24/16);
    background-color: #FFFFFF;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.nav-link.current {
    color: var(--pressed-state) ;
}
.logo-header {
font-family: 'Raleway';
font-size: 18px;
line-height: calc(24/18);
color: var(--secondary-color) ;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-part {
    color: var(--primary-brand) ;
}
.nav-link {
font-weight: 500;
color: var(--secondary-color) ;
letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--pressed-state) ;
}
address {
    font-style: normal;
}
.nav-header {
letter-spacing: 0.02em;
color: var(--text-color);
}
.nav-header:hover,
.nav-header:focus {
    color: var(--pressed-state) ;
}
.hero {
    background: var(--secondary-color) ;
}
.hero-title {
    font-size: 56px;
    line-height: calc(60/56);
    color:var(--third-color) ;
    letter-spacing: 0.02em;
}
.hero-btn {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    color: var(--third-color);
    background: var(--primary-brand);
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
background: var(--pressed-state);
color: var(--third-color);
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0000);
overflow: hidden;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--secondary-color);
    letter-spacing: 0.02em;
}
.section-subtitle {
line-height: calc(24/16);
letter-spacing: 0.02em;
}
.section-title {
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
text-transform: capitalize;
}
.section-team {
background: var(--background-color);
}
.item {
background: var(--third-color);
}
.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--secondary-color);
    letter-spacing: 0.02em;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    color: var(--background-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
footer {
    background: var(--secondary-color);
}
.text-footer {
color: var(--accent-color);
letter-spacing: 0.02em;
}
.btn-filter {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);  
    background: var(--background-color);
    color: var(--primary-brand);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
    background: var(--pressed-state);
    color: var(--third-color);
}
.project-title {
font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
color: var(--secondary-color);
letter-spacing: 0.02em;
}
